*{
    margin: 0px;
    font-family: "inter";
}


#menusuperior{
    background-color: #303030;
    width: 1440px;
    height: 150px;
    text-align: justify;
    padding-top: 150px;
    color: white;
    padding-left: 15px;
    padding-bottom: 30px;

}

#paragrafosuperior{
    padding-left: 25px;
    font-weight: bolder;
    font-size: 45px;
}

#textofoinferior{
    padding-left: 20px;
}

#textoinformativo{
    display: grid;
    grid-auto-flow: column;
    background-color: #F9F9F9;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: justify;
    padding-left: 13%;
}

#historia{
display: grid;
grid-auto-flow: column;
padding: 50px 15px 50px 15px;
align-items: center;
}

#textohistoria{
    text-align: justify;
    padding-left: 50px;
}

#paragrafohistoria{
    font-size: 21px;
}

#tituloformulario{
    text-align: center;
    padding-top: 75px;
    color:#FFFFFF;
    font-size: 34px;
    font-weight: bolder;
}

#formulario{
    background-color: #303030;
}

#formulario2{
    padding-left: 420px;

}

.baloes{
    width: 435px;
    height: 50px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    cursor: pointer;
    
}

button{
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 10px 10px 10px 10px;
    background-color: #C07212;
    font-weight: bolder;
    font-size: larger;
    margin-left: 15%;
    margin-bottom: 50px;
    cursor: pointer;
}

button:hover{
    background-color: #c2771c;
    font-weight: bolder;
    transform:translateY(-15px);
    box-shadow: #edb27a 0px 10px 20px -10px ;
    border: 0px;
    transition-duration: 750ms;
    transition-delay: 100ms;
    

}